.navv{
	background: black;
	height:100px;
	color: #fff;
	padding-top: 15px; 
	padding-left: 10px;
}
.subnavv{
	background: grey;
}
.navvD{
	background: black;
	height:50px;
	color: #fff;
	margin-top: 10px;
	text-align: center;
	padding-top: 15px;
}
.imagen{
	background-image: url("http://lorempixel.com/1300/200/");
}
img {
	margin-top: 10px;
}